header{
    position: absolute;
	z-index: 99999;
	width: 100%;
	height: 13vh;
	background-color: #232323;
    transition: all 0.8s ease-in-out 0s;
}
/* body{
	background-image: url(images/downloadrrrr.jpeg);
	background-position: center;
	background-size: ;
} */


header .navbar {
	padding: 10px 0px;
}

.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}

.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #f33f3f;
}

#navbarResponsive {
	z-index: 999;
}

.navbar-collapse {
	text-align:center;
}

.navbar .navbar-nav .nav-item {
	margin: 0px 8% 0% 18%;
}

.navbar .navbar-nav a.nav-link {
	/* text-transform: capitalize; */
	/* font-size: 1.3rem; */
    /* width: 100%; */
	font-weight: 600;
	letter-spacing: 0.5px;
	color: #e8dddd;
	transition: all 0.5s;
	margin-top: 10px;
}

.nav-link{
    font-size: 1.2em;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #d99409;
	padding-bottom: 15px;
    background-color: #ed5757;
    border-radius: 5%;
	border-bottom: 3px solid #f33f3f;
}


.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #df5151;	
	height: 7vh;
	outline: none;
	border-radius: 5px;
	position: absolute;
	right: 30px;
	top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar .navbar-toggler-icon:after {
	color: #f33f3f;
	font-size: 18px;
	line-height: 5px;
	font-family: 'FontAwesome';
}

.background-header {
	top: 0;
	position: fixed;
	background-color: #fff!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.navbar .navbar-brand {
	float: 	left;
	margin-top: -12px;
	outline: none;
}


/* Hero Section */
/* 
.carousel-inner > .item > img {
    width:640px;
    height:100px;
    object-fit: contain;
    padding-top: 100%;
  } */

  .CarOne{
    background-image: url(images/pexels-aleksey-kuprikov-3786091.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    padding: 25% 0%;
}
.CarTwo{
    background-image: url(images/pexels-yurii-hlei-1545743.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    padding: 25% 0%;
}

.CarThree{
    background-image: url(images/pexels-pixabay-164634.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    padding: 25% 0%;
}

main{
	margin-top: 5%;
}

main .main-header{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin-left: 3.5%;

}

main .viewmore{
	text-decoration: none;
	color: red;
	font-size: small;
}

main .row{
	display: flex;
	justify-content: space-around;
	width: 99vw;
	margin: auto;
}

main .row .prod1{
	margin-top: 5%;
	border: 0.3px solid lightgrey;
	width: 30%;
}

main .row .prod2{
	margin-top: 5%;
	border: 0.3px solid lightgrey;
	width: 30%;
}

main .row .prod3{
	margin-top: 5%;
	border: 0.3px solid lightgrey;
	width: 30%;
}

main .row .prod4{
	margin-top: 5%;
	border: 0.3px solid lightgrey;
	width: 30%;
}

main .row .prod5{
	margin-top: 5%;
	border: 0.3px solid lightgrey;
	width: 30%;
}

main .row .prod6{
	margin-top: 5%;
	border: 0.3px solid lightgrey;
	width: 30%;
}

.row span img{
	width: 13px;
}

.about{
	margin-top: 5%;
	margin-bottom: 1%;
	margin-left: 2%;
}

.row button{
	width: 20%;
	border-radius: 5px;
	background-color: #df5151;
	color: white;
	margin-top: 4%;
}

.row button:hover{
	background-color: #232323;
}

.row .list-group{
	margin-top: 3%;
}
.hey{
	display: flex;
	justify-content: space-around;
}
.hey p{
	margin-left: 3%;
}
.hey button{
	margin-top: 8%;
	border: none;
	padding: 1%;
	border-radius: 8px;
}

.line{
	border: 1px solid rgba(0, 0, 0, 0.112);
	width: 93%;
	margin-bottom: 4%;
	margin-left: 4%;
}

/* .about{
	border: 1px solid black;
} */

.about .about-head h2{
	color: whitesmoke;
	font-size: 6.5em;
	text-shadow: 10px 10px 10px #232323;
}

/* .about .body-left{
	border: 1px solid black;
} */

/* .about .body-right{
	background-image: url(images/about-1-570x350.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */

.about .body-right{
	overflow: hidden;	
}

.row button{
	width: 20%;
	border-radius: 5px;
	background-color: #df5151;
	color: white;
	margin-top: 4%;
}

.row button:hover{
	background-color: #232323;
}

.row .list-group{
	margin-top: 3%;
}

/* blog section */

.why-section{
	box-shadow: 1px 1px 10px 1px gray;
	padding-top: 5em;
	padding-bottom: 1em;
	height: fit-content;
}

.why-head h1{
	color: whitesmoke;
	font-size: 6.5em;
	text-shadow: 10px 10px 10px #232323;
}

.why-body{
	height: fit-content;
}

.card{
	border: none;
	box-shadow: 1px 1px 10px 1px gray;
}

.card-top{
	background-image: url(images/award.png);
	background-position: center;
	background-size: 3em;
	background-repeat: no-repeat;
	border: 1px solid black;
	/* align-self: center; */
	height: 4em;
}

.card2 .card-top{
	background-image: url(images/handshake.png);
	background-position: center;
	background-size: 3em;
	background-repeat: no-repeat;
	height: 4em;
}

.card3 .card-top{
	background-image: url(images/dashboard.png);
	background-position: center;
	background-size: 3em;
	background-repeat: no-repeat;
	height: 4em;
}

.why-section .team{
	background-image: url(images/background-team.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid black;
}



/* .blog .blog-head{
	border: 1px solid red;
} */

.team .team-head h3{
	color: aliceblue;
}

.team .team-head hr{
	border: 1px solid aliceblue;
}

.team .team-body{
	overflow: hidden;
}

/* .blog .blog-body .blog1{
	border: 1px solid goldenrod;
} */

.team1 .team1-body h5{
	color: wheat;
}

.team1 .team1-body p{
	color: aliceblue;
}

@media (max-width: 400px){
	body{
		/* background-image: url(images/downloadrrrr.jpeg);
	    background-position: inherit;
	    background-size: contain; */
		padding-right: 10px;
	}
}